<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Trucks</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/food-truck.png" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" id="search">
          <input class="form-control mr-sm-2" id="input" type="search" value="" placeholder="Search" aria-label="Search">
          <input class="form-control mr-sm-2" id="btn1" type="button" value="Tea">
          <input class="form-control mr-sm-2" id="btn2" type="button" value="ice cream">
          <input class="form-control mr-sm-2" id="btn3" type="button" value="Burger">
         
        </form>
      </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                    <div id="map"></div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="js/API.js"></script>
    <script src="js/main.js"></script>
    <script src="js/app.js"></script>

</body>
</html>