<!DOCTYPE html>
<html lang="en">
<head>
	<title>Food Trucks</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="shortcut icon" href="/food-truck.png" type="image/x-icon">
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Food Trucks San Francisco</h1>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Login
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Signup
				</a>
			</div>
		</div>
	</div>

</body>
</html>