<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food Trucks</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/food-truck.png" type="image/x-icon">
</head>
<body class="signup">
    <div class="container">
      <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
          <div class="card-body">
            <!-- messages -->
            <h1 class="text-center">
              <span class="fa fa-sign-in"></span> Signup
            </h1>
            <% if (message.length > 0) { %>
              <div class="alert alert-danger">
                <%= message %>
              </div>
            <% } %>

            <!-- form -->
            <form action="/signup" method="post">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
              </div>
              <input type="submit" class="btn btn-dark btn-lg">
            </form>

            <hr>
            <div class="text-center">
              <p>Already have an account? <a href="/login">Login</a></p>
              <p>Or go <a href="/">home</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>